<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>compass_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,384},{292,293}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{401,455}</string>
			</dict>
			<key>compass_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,384},{265,266}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{401,455}</string>
			</dict>
			<key>compass_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{384,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{401,455}</string>
			</dict>
			<key>Dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,363},{472,213}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{472,216}</string>
			</dict>
			<key>LonInBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{486,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{486,221}</string>
			</dict>
			<key>RegisterBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{484,363}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,366}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LogInScene.png</string>
			<key>realTextureFileName</key>
			<string>LogInScene.png</string>
			<key>size</key>
			<string>{992,849}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>992</integer>
			<key>height</key>
			<integer>849</integer>
		</dict>
	</dict>
</plist>